venv/
.vscode/
.DS_Store
requirements.txt
unit_3/netbox_interfaces.csv
unit_3/netbox.ipynb
unit_7/data/netflix/*

module_6/raw_html/
module_4/Итоговый вебинар по проекту "Компьютер говорит нет".pdf
module_6/raw_html.zip
module_6/sber*
module_6/all_auto_ru_09_09_2020.csv
module_6/test.csv
module_6/train_df_full.csv
module_6/df_catboost.csv
module_6/df_equipment.csv
module_6/df.csv
module_6/submission_final_*