flake8
black
flake8-blind-except 
flake8-builtins 
flake8-logging-format 
flake8-commas 
flake8-print 
pep8-naming 
flake8-cognitive-complexity 
flake8-variables-names 
flake8-comprehensions 
flake8-django
flake8-eradicate
ipykernel
numpy
pandas
seaborn
matplotlib
plotly
cufflinks
statsmodels
sklearn
xlrd
xlwt
openpyxl
xmljson
text2emotion
textblob
cvxpy
pandas_profiling
gensim
pytest
requests
beautifulsoup4
lxml
category_encoders
pyqt5
catboost
lazypredict
xgboost
tsfresh
apyori
surprise
nyoka
onnxruntime
skl2onnx
protobuf
pika